:global * {
    
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
    
}
.container {
    width: 350px;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

:global #root {
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 500px) {
    
    .container {
        width: 100%;
    }
}